footer {
    background-color: #000000bd;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 6rem;
    right: 0px;
    padding-top: 1.7rem;
    margin-top: calc(22vh - 6rem);
}
  
footer p {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
}
  
footer h6, p {
    color: white;
}
  
a {
    color: white !important;
}